/* #ECECEC */
/* #454851 */
/* #03B5A9 */

html {
    background-color: #ECECEC;
    font-family: Helvetica;    
}

body {
    margin: auto;
    max-width: 40em;
}

#intro-header {
    margin: 1em;
    text-align: center;
}

#photo {
    margin: auto;
    max-width: 10em;
    border-radius: 5%;
}

.fa {
    padding: 0 1em;
    font-size: 1em;
    width: 2em;
    text-align: center;
    text-decoration: none;
    color: black;

}
  
.fa:hover {
    color: #03B5A9;
    opacity: 0.7;
}

#intro a {
    font-weight: bold;
    color: black;
}

#intro a:hover {
    color: #03B5A9;
}

#navbar {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #ECECEC;
    border-style: none none solid none;
}

#navbar-list {    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;

}

#navbar li {
    display: inline-block;
    margin: 0 1em;
}

#navbar a {
    display: block;
    color: black;
    margin: auto;
    padding: 1em;
    text-decoration: none;
}

#navbar a:hover {
    color: #03B5A9;
}
