/* #ECECEC */
/* #454851 */
/* #03B5A9 */

html {
    background-color: #ECECEC;
    font-family: Helvetica;    
}

body {
    margin: auto;
    max-width: 40em;
    overflow-y: scroll;
}

#intro-header {
    margin: 1em;
    text-align: center;
}

#intro-title {
    margin: 0.75em;
}

#photo {
    margin: auto;
    max-width: 10em;
    border-radius: 5%;
}

#socials {
    font-size: 1.25em;
}

#socials > .fa {
    padding: 0 1em;
    width: 2em;
}

.fa {    
    text-align: center;
    text-decoration: none;
    color: black;
}
  
.fa:hover {
    color: #03B5A9;
}

a {
    font-weight: bold;
    color: black;
}

a:hover {
    color: #03B5A9;
}

#navbar {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #ECECEC;
    border-style: none none solid none;
}

#navbar-list {    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;

}

#navbar li {
    display: inline-block;
    margin: 0 1em;
}

#navbar a {
    display: block;
    color: black;
    margin: auto;
    padding: 1em;
    text-decoration: none;
}

#navbar a:hover {
    color: #03B5A9;
}

#project-grid {
    display: flex;
    flex-direction: column;
}

.project {
    border-style: solid none none none;
    padding: 0 1em 2em;
}

.project-title {
    margin: 0.5em 0;
}

.project-content {
    display: flex;
}

.project-img {
    width: 10em;
    height: 10em;
    margin-right: 1em;
    border-radius: 5%;
}

.project-content > p {
    margin: 0;
}

.project-desc > .fa {
    margin-right: 0.25em;
}

.blog-link {
    text-decoration: none;
    color: black;
    font-weight: normal;
}

.blog-item {
    border-style: solid none none none;
    padding: 0 1em 2em;
}

.blog-link > h2 {
    margin: 0.5em 0;
}

.blog-link > h5{
    margin: 0;
}

.post-title {
    margin-bottom: 0;
}

.post-date {
    margin-top: 0;
}