---
layout: default
---

<div id="intro">
    
    <div id="intro-header">
        <img id="photo" src="/images/AndrewZhang.jpg">
        <h2 id="intro-title">
            Hi! I'm Andrew Zhang. Welcome to my website.
        </h2>
        <div id="socials">
            <a href="mailto:zhang.w.andrew@gmail.com" target="_blank" class="fa fa-envelope"></a>
            <a href="https://www.linkedin.com/in/andrewzhang21/" target="_blank" class="fa fa-linkedin"></a>
            <a href="https://github.com/AndrewZhang17" target="_blank" class="fa fa-github"></a>
            <a href="https://www.instagram.com/azmcazmcaz/" target="_blank" class="fa fa-instagram"></a>
        </div>
    </div>
        
    {{ content }}

</div>